<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="reservas"> <!--En la propiedad del boton va el nombre de la pagina que quiero que vaya-->
      <ion-icon name="calendar-number-sharp"></ion-icon>

    </ion-tab-button>

    <ion-tab-button tab="administrar"> <!--En la propiedad del boton va el nombre de la pagina que quiero que vaya-->
      <ion-icon name="person-outline"></ion-icon>

    </ion-tab-button>
    <ion-tab-button tab="perfil"> <!--En la propiedad del boton va el nombre de la pagina que quiero que vaya-->
      <ion-icon name="person-circle-outline"></ion-icon>

    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

</ion-content>
